services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports: ["27017:27017"]
    volumes: ["mongo-data:/data/db"]
    restart: unless-stopped

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    ports: ["8081:8081"]           # ou "8082:8081" pour éviter le cache du navigateur
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017
      # - ME_CONFIG_BASICAUTH=false # désactive l'auth (pas recommandé en prod)
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=secret
    depends_on:
      - mongo
    restart: unless-stopped

volumes:
  mongo-data:
