services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports: ["27017:27017"]
    volumes: ["mongo-data:/data/db"]
    restart: unless-stopped
    networks:
      - chadnet

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    ports: ["28081:8081"]
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017
      # - ME_CONFIG_BASICAUTH=false # désactive l'auth (pas recommandé en prod)
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=secret
    depends_on:
      - mongo
    restart: unless-stopped
    networks:
      - chadnet

  backend:
    build: .
    container_name: chad-backend
    ports: ["5000:5000"]
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=hospital
      - SEED_ON_START=true
    depends_on:
      - mongo
    restart: unless-stopped
    networks:
      - chadnet

volumes:
  mongo-data:

networks:
  chadnet:
    driver: bridge
